# Archivos compilados de Java
*.class
*.jar
*.war
*.ear

# Directorio de salida de compilación
bin/
build/
target/
out/

# Archivos de IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.bak
*.swp
*~
